.interesting {
  &__header {
    border-top: 1px solid #c4c4c4;
    @include fontHeader
  }
  &__cards {
    &--desktop {
      display: none;
    }
  }
  &__image {
    &--1 {
      background-image: url(../images/interesting_image1.jpg);
    }
    &--2 {
      background-image: url(../images/interesting_image2.jpg);
    }
    &--3 {
      background-image: url(../images/interesting_image3.jpg);
    }
  }
  @include onNotebook {
    &__cards {
      display: flex;
      justify-content: space-around;
      margin-bottom: 56px;
      &--desktop {
        display: flex;
      }
    }
    &__card {
      width: 336px;
    }
  }
}