.promo {
  background: rgba(4, 191, 148, 0.16);
  border-radius: 16px;
  margin-bottom: 24px;
  &__title {
    font-weight: 800;
    font-size: 24px;
    color: #04BF94;
    padding: 16px 0 8px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    color: #242424;
    margin-bottom: 16px;
  }
 
  @include onNotebook {
    &__title {
      font-size: 32px;
    }
  }

  @include onBigScreen {
    &__title {
      padding-left: 56px;
    }
    &__subtitle {
      padding-left: 56px;
    }
  }
}